{% extends 'base.html' %}
{% block content %}

<h1 class="page-title">Courses</h1>

<div class="card">
    <p>The specialty of courses for IT (Information Technology) students lies in their high, job-oriented, and practical nature, designed to bridge the gap between theoretical knowledge and industry requirements. These courses, which range from full-degree programs (B.Tech, BSc IT, BCA) to specialized certifications (Data Science, AI, Cloud), are designed to provide specialized skills for rapidly evolving technologies, offering strong placement opportunities and high earning potential. </p>
    <p>But it only ask return from you is consistency and discipline</p>
    <p>A foolish consistency is the hobgoblin of little minds, adored by little statesmen and philosophers and divines.</p>
</div>

<div class="grid">
    {% for c in courses %}
    <div class="card">
        <h3>{{ c.title }}</h3>
        <p><strong>Rating:</strong> {{ c.rating }}/5</p>
        <p>{{ c.description }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}
