{% extends 'base.html' %}

{% block content %}
<h2>Student Registration</h2>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Course</label>
        <select name="course" class="form-control" required>
            {% for course in courses %}
                <option value="{{ course.id }}">{{ course.title }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-success">Register</button>
</form>

{% endblock %}
